@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
}

header{
  position: sticky;
  top: 0;
  background-color: #262626;
  padding: 20px;
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
}

footer{
  padding: 20px;
  display: flex;
}

h2{
  margin: unset;
  font-weight: normal;
}

.headerStyle{
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  max-height: 3rem;
}

.pageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hideLink{
  color: inherit;
  text-decoration: none;
}

.contactImageSize{
  padding-right: 5px;
  height: 25px;
}
