@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Text', serif;
  font-style: normal;
  overflow-x: hidden;
}

header{
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
}

footer{
  padding-top: 20px;
  justify-content: center;
  width: 100%;
  background-color: #c7c7c7;
  border-radius: 10px;
}

.headerStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: #262626;
  border-radius: 12px;
  width: fit-content;
  margin: 1.5rem auto;
  font-size: 1.2rem;
}

.navLinks{
  display: flex;
  gap: 1.5rem;
  color: white;
}

.languageButton{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.flagIcon{
  height: 35px;
  transition: transform 0.3s;
}

.languageButton:hover .flagIcon{
  transform: scale(1.1);
}

.pageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  text-align: justify;
}

.hideLink{
  color: inherit;
  text-decoration: none;
}

.contactImageSize{
  padding-right: 5px;
  height: 25px;
}

.centerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoSize{
  width: 100%;
  max-width: 960px;
  height: auto;
}

.contactInfo{
  display: flex;
  gap: 5rem;
}

h1, h2, h3, h4 {
    word-wrap: break-word;
    text-align: justify;
    margin-top: 0;
  }

#aboutMeID,
#projectsID,
#contactID {
  scroll-margin-top: 70px; /* Adjust to match your header height */
}

.projectCard{
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 960px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.projectCard:hover {
  transform: translateY(-5px);
}

.projectCard h2 {
  margin-bottom: 10px;
}

.projectCard p {
  font-size: 1rem;
  color: #333;
}

.githubLink {
  display: inline-block;
  margin-bottom: 15px;
  color: #007acc;
  font-weight: bold;
  text-decoration: none;
}

.githubLink:hover {
  text-decoration: underline;
}

.languageButton{
  background: none;
  border:none;
  cursor: pointer;
}

@media (max-width: 828px) {
  .headerStyle {
    align-items: center;
    gap: 10px;
    max-height: unset;
    font-size: 0.8rem;
  }

  .pageContent {
    margin-top: 1rem;
  }

  .aboutMeCentered,
  .videoSize{
    width: 100%;
    max-width: 95%;
  }

  .contactImageSize {
    height: 20px;
  }

  .contactInfo{
    flex-direction: column;
    gap: 0;
  }

  .aboutMeText {
    font-size: 0.9rem;
  }
}