@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Text', serif;
  font-style: normal;
  overflow-x: hidden;
}

header{
  position: sticky;
  top: 0;
  background-color: #262626;
  padding: 20px;
  font-family: 'DM Serif Text', serif;
  font-style: normal;
  z-index: 1;
}

footer{
  padding: 20px;
  display: flex;
}

.headerText{
  margin: 0;
  font-weight: normal;
}

.headerStyle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  max-height: 3rem;
}

.pageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.hideLink{
  color: inherit;
  text-decoration: none;
}

.contactImageSize{
  padding-right: 5px;
  height: 25px;
}

.centerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.videoSize{
  width: 100%;
  max-width: 960px;
  height: auto;
  margin-bottom: 5rem;
}

.aboutMeText{
  font-weight: lighter; 
  display: flex; 
  flex-wrap: wrap;
  text-align: justify

}

.aboutMeCentered{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  font-weight: lighter;
  padding: 0;
}

.projectInfoText{
  font-weight: lighter; 
  width: 100%; 
  max-width: 960px;
}

.contactInfo{
  display: flex;
  gap: 5rem;
}

h1, h2, h3, h4 {
    word-wrap: break-word;
    text-align: justify;
    margin-top: 0;
  }

#aboutMeID,
#projectsID,
#contactID {
  scroll-margin-top: 70px; /* Adjust to match your header height */
}

@media (max-width: 828px) {
  .headerStyle {
    align-items: center;
    gap: 10px;
    max-height: unset;
  }

  .aboutMeCentered,
  .videoSize,
  .projectInfoText {
    width: 100%;
    max-width: 95%;
  }

  .contactImageSize {
    height: 20px;
  }
  .contactInfo{
    flex-direction: column;
    gap: 0;
  }
}